body {
    background: url("../images/mordor.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
    width: 100%;
    min-width: 100%;
}

h1 {
    font-size: 2em;
    color: #f6f6ee;
    text-align: center;
    margin: 1em auto;
}

#logo-container {
    margin: 3em auto;
    max-width: 30%;
}

#logo {
    display: block;
    margin: 0 auto;
}

#button-holder {
    width: 100%;
    min-width: 100%;
    text-align: center;
}

/* #game-board {
    text-align: center;
    margin: 0 auto;
} */

#game-board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#player-character {
    display: flex;
    flex-direction: column;
}

#player-options {
    display: flex;
    flex-direction: column;
}

#enemy-character {
    display: flex;
    flex-direction: column;
}

#enemies {
    text-align: center;
    margin: 0 auto;
}

.start-button {
    background-color: #802000;
    border: none;
    color: #f6f6ee;
    padding: 1em 2em;
    text-align: center;
    font-size: 1.2em;
    margin-left: 2em;
    border-radius: 2px;
}